html, body {
	position: relative;
	width: 100%;
	height: 100%;
}
body {
	color: #2E2E2E;
	background-color: #D7DDDC;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all 300ms;
	font-family: -apple-system, 
	BlinkMacSystemFont, "Segoe UI", 
	Roboto, Oxygen-Sans, 
	Ubuntu, Cantarell, 
	"Helvetica Neue", sans-serif;
}
*::selection {
	background-color: rgb(215, 221, 220);
}
